######
# IDEs project folders
#######
nbproject
.idea

######
# Apple
######
*.DS_Store

######
# Drupal
######
.user.ini
.htaccess
.htpasswd

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/files-private
