<?php
/**
 * @file
 * Variable API module. Definition for some xample variables
 */

/**
 * Implements hook_variable_info().
 */
function custom_variable_variable_info($options) {
  // Boolean
  $variables['custom_variable_boolean'] = array(
    'type' => 'boolean',
    'title' => t('Example Boolean', array(), $options),
    'default' => 0,
    'group' => 'custom_variable',
  );
  // Select
  $variables['custom_variable_select'] = array(
    'title' => t('Example Select', array(), $options),
    'description' => t('Example Select', array(), $options),
    'type' => 'select',
    'options' => array(
      0 => t('Value 1', array(), $options),
      1 => t('Value 2', array(), $options)
    ),
    'default' => 0,
    'group' => 'custom_variable',
  );
  // String
  $variables['custom_variable_string'] = array(
    'type' => 'string',
    'title' => t('Example String', array(), $options),
    'default' => 'Example String',
    'description' => t('Example of string variable.', array(), $options),
    'required' => TRUE,
    'group' => 'custom_variable',
  );
  // Text
  $variables['custom_variable_text'] = array(
    'type' => 'text',
    'title' => t('Example Text', array(), $options),
    'default' => 'Example text',
    'description' => t('Example of text variable.', array(), $options),
    'required' => TRUE,
    'group' => 'custom_variable',
  );
  // Text with format
  $variables['custom_variable_text_format'] = array(
    'type' => 'text_format',
    'title' => t('Text format', array(), $options),
    // The default value may be a string (default format will be added) or
    // an array with 'format' (format name) and 'value' (string) elements
    'default' => 'Example text with default format',
    'description' => t('Example of text variable with text format.', array(), $options),
    'required' => TRUE,
    'group' => 'custom_variable',
  );
  // Text with format
  $variables['custom_variable_mail_[mail_part]'] = array(
    'type' => 'mail_text',
    'title' => t('Example mail', array(), $options),
    'default' => array(
      'subject' => t('Example mail subject', array(), $options),
      'body' => t('Example mail body.', array(), $options),
    ),
    'description' => t('Example mail variable with subject and body.', array(), $options),
    'required' => TRUE,
    'group' => 'custom_variable',
  );
  return $variables;
}

/**
 * Implements hook_variable_group_info().
 */
function custom_variable_variable_group_info() {
  $groups['custom_variable'] = array(
    'title' => t('Custom Variables'),
    'description' => t('Custom Variables'),
    'access' => 'administer site configuration',
    'path' => array('admin/config/system/variable/example'),
  );
  return $groups;
}
